body {
    font-family: var(--family-sans-serif);
    font-size: var(--step-0);
}

h1,
h2,
h3,
h4 {
    font-family: var(--family-display);
}

h1 {
    font-size: var(--step-5);
}

h2 {
    font-size: var(--step-4);
}

h3 {
    font-size: var(--step-3);
}

h4 {
    font-size: var(--step-2);
}

article > * + * {
    margin-block-start: 2rem;
}

article ul,
article ol {
    padding-inline: 2rem;
}

section {
    padding-block: var(--common-block-padding);
    padding-inline: var(--common-inline-padding);
    border-bottom: 0.1875rem solid transparent;
}

.flow > * + * {
    margin-block-start: 1em;
}

section:first-of-type {
    border-top: 0.2rem solid transparent;
}

section:nth-of-type(even) {
    background-color: var(--fl-bgColor, var(--color-indigo-100));
    color: var(--fl-fgColor);
}

section:nth-of-type(odd) {
    background-color: var(--fl-bgColor, var(--color-indigo-200));
    color: var(--fl-fgColor);
}

section:last-of-type:not(:first-of-type) {
    background-color: var(--fl-bgColor, var(--color-indigo-700));
    color: var(--fl-fgColor, white);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.fl-theme-bw,
.fl-theme-wb,
.fl-theme-lgdg,
.fl-theme-gw,
.fl-theme-gd {
	img {
		filter: grayscale(1);
	}
}

.fl-theme-by,
.fl-theme-yb {
	img {
		filter: url("#yellow");
	}
}

.fl-theme-bbr {
	img {
		filter: url("#brown");
	}
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 16.25rem;
    width: 100vw;
}

.banner__image {
    padding-block: var(--common-block-padding);
    padding-inline: var(--common-inline-padding);
}

.project__banner {
    display: flex;
    gap: 2rem;
    min-height: 16.25rem;
    flex-direction: column;
    border-bottom: 0.2rem solid transparent;
}

.project__banner__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project__banner a,
.project__banner__title {
    padding-inline: var(--common-inline-padding);
}

.project__banner a {
    align-items: center;
    color: var(--fl-linkColor, var(--color-indigo-700));
    display: flex;
    gap: 0.4rem;
    width: fit-content;
}

.project__banner a svg {
    stroke: var(--fl-linkColor, var(--color-indigo-700));
}

.project__banner__color {
    min-height: 1.875rem;
}

.project__content {
    display: grid;
    grid-template-columns: 0 65%;
    padding-block: var(--common-block-padding);
    padding-inline: var(--common-inline-padding);
}

.bg-indigo-100 {
    background-color: var(--fl-bgColor, var(--color-indigo-100));
}

.bg-indigo-200 {
    background-color: var(--fl-bgColor, var(--color-indigo-200));
}

.bg-indigo-700 {
    background-color: var(--fl-bgColor, var(--color-indigo-700));
    color: var(--fl-fgColor, white);
}

.bg-indigo-800 {
    background-color: var(--fl-bgColor, var(--color-indigo-800));
    color: var(--fl-fgColor, white);
}

.bg-yellow {
    background-color: var(--fl-bgColor, var(--color-yellow));
}

.bg-dark-grey {
    background-color: var(--fl-bgColor, var(--color-dark-grey));
    color: var(--fl-fgColor, white);
}

.banner__text {
    font-size: var(--step-1);
    padding-block: var(--common-block-padding);
    padding-inline: var(--common-inline-padding);
}

.display {
    padding-inline: var(--common-inline-padding);
    padding-block: var(--common-block-padding);
    border-bottom: 0.2rem solid transparent;
}

@media (width >= 24.25rem) {
    .display__items {
        margin-inline: auto;
    }
}

@media (width >= 46.625rem) {
    .banner {
        flex-direction: row;
    }

    .banner__image {
        padding: unset;
        min-width: 30rem;
    }

    .display__items {
        display: grid;
        gap: 1.875rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width >= 70.875rem) {
    .display__items {
        grid-template-columns: repeat(3, 1fr);
    }

    .project__banner {
        flex-direction: row;
    }

    .project__banner__color {
        min-width: 3.5rem;
        min-height: 39.8125rem;
        border-right: 0.125rem solid var(--fl-fgColor, transparent);
    }

    .project__banner__header {
        justify-content: start;
    }

    .project__banner a,
    .project__banner__title {
        padding-inline: unset;
    }

    .project__banner a {
        margin-block-start: 5rem;
    }

    .project__banner__title {
        position: relative;
        top: 25%;
    }
}
