body {
    font-family: var(--family-sans-serif);
    font-size: var(--step-0);
}

h1,
h2,
h3,
h4 {
    font-family: var(--family-display);
}

h1 {
    font-size: var(--step-5);
}

h2 {
    font-size: var(--step-4);
}

h3 {
    font-size: var(--step-3);
}

h4 {
    font-size: var(--step-2);
}

section {
    padding-block: var(--common-block-padding);
    padding-inline: var(--common-inline-padding);
    border-bottom: 0.1875rem solid transparent;
}

.banner__text > * + *,
.projectPanel__content > * + *,
section > * + *,
footer nav > * + *,
footer .footer__contact-us > * + * {
    margin-block-start: 1em;
}

section:nth-of-type(even) {
    background-color: var(--fl-bgColor, var(--color-indigo-100));
    color: var(--fl-fgColor);
}

section:nth-of-type(odd) {
    background-color: var(--fl-bgColor, var(--color-indigo-200));
    color: var(--fl-fgColor);
}

section:last-of-type:not(:first-of-type) {
    background-color: var(--fl-bgColor, var(--color-indigo-700));
    color: var(--fl-fgColor, white);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.banner {
    display: flex;
    align-items: center;
    min-height: 16.25rem;
    width: 100vw;
    border-bottom: 0.2rem solid transparent;
}

.bg-indigo-100 {
    background-color: var(--fl-bgColor, var(--color-indigo-100));
}

.bg-indigo-200 {
    background-color: var(--fl-bgColor, var(--color-indigo-200));
}

.bg-indigo-700 {
    background-color: var(--fl-bgColor, var(--color-indigo-700));
    color: var(--fl-fgColor, white);
}

.bg-indigo-800 {
    background-color: var(--fl-bgColor, var(--color-indigo-800));
    color: var(--fl-fgColor, white);
}

.bg-dark-grey {
    background-color: var(--fl-bgColor, var(--color-dark-grey));
    color: var(--fl-fgColor, white);
}

.banner__text {
    font-size: var(--step-1);
    padding-block: var(--common-block-padding);
    padding-inline: var(--common-inline-padding);
}

.display {
    padding-inline: var(--common-inline-padding);
    padding-block: var(--common-block-padding);
    border-bottom: 0.2rem solid transparent;
}

@media (width >= 24.25rem) {
    .display__items {
        margin: auto;
    }
}

@media (width >= 46.625rem) {
    .display__items {
        display: grid;
        gap: 1.875rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width >= 70.875rem) {
    .display__items {
        grid-template-columns: repeat(3, 1fr);
    }
}
