body {
    background-color: var(--fl-bgColor, var(--color-white));
    color: var(--fl-fgColor, var(--color-black));
    font-family: var(--family-sans-serif);
    font-size: var(--step-0);
}

.wrapper {
    margin-inline: auto;
    max-width: 75rem;
    width: 100%;
}

/* Banner */

.banner {
    border-block: 0.2rem solid var(--fl-fgColor, transparent);
    padding-block: var(--common-block-padding);
    padding-inline: var(--common-inline-padding);
}

.banner .wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    min-height: 16.25rem;
}

.banner__content {
    font-size: var(--step-1);
}

.banner__image {
    padding-block-start: var(--common-block-padding);
    margin-block-start: unset;
}

@media (width >= 70.875rem) {
    .banner .wrapper {
        flex-direction: row;
        gap: 8.25rem;
    }

    .banner__image {
        padding: unset;
        min-width: 30rem;
    }
}

/* Sections */

section {
    padding-block: var(--common-block-padding);
    padding-inline: var(--common-inline-padding);
    box-shadow: inset 0 -0.1875rem 0 0 var(--fl-fgColor, transparent);
}

section .wrapper > * {
    max-width: 41.875rem;
}

section .wrapper > h2,
section .wrapper > .cards {
    max-width: 100%;
}
main section:nth-of-type(even) {
    background-color: var(--fl-bgColor, var(--color-indigo-100));
    color: var(--fl-fgColor);
}

main section:nth-of-type(odd) {
    background-color: var(--fl-bgColor, var(--color-indigo-200));
    color: var(--fl-fgColor);
}

main section:last-of-type:not(:first-of-type) {
    background-color: var(--fl-bgColor, var(--color-indigo-700));
    color: var(--fl-fgColor, white);
}

/* Image Theming */

.fl-theme-bw,
.fl-theme-wb,
.fl-theme-lgdg,
.fl-theme-gw,
.fl-theme-gd {
    img {
        filter: grayscale(1);
    }
}

.fl-theme-by,
.fl-theme-yb {
    img {
        filter: url("#yellow");
    }
}

.fl-theme-bbr {
    img {
        filter: url("#brown");
    }
}

/* Links */

a:not([class]) {
    color: var(--fl-linkFgColor, currentColor);
    font-weight: var(--font-weight-semibold);

    &:hover {
        background-color: var(--fl-linkFgColor, var(--color-yellow));
        border-radius: 0.3125rem;
        box-shadow: 0 0 0 0.25rem var(--fl-linkFgColor, var(--color-yellow));
        color: var(--fl-bgColor, var(--color-indigo-700));
    }

    &:focus,
    &:hover:focus {
        background-color: transparent;
        border-radius: 0.3125rem;
        box-shadow: none;
        outline: solid 0.125rem var(--fl-linkFgColor, var(--color-indigo-700));
        outline-offset: 0.125rem;
    }

    &:active {
        background-color: var(--fl-linkFgColor, var(--color-indigo-700));
        border-radius: 0.3125rem;
        box-shadow: 0 0 0 0.25rem var(--fl-linkFgColor, var(--color-indigo-700));
        color: var(--fl-bgColor, var(--color-white));
    }
}

header a:not([class]),
nav a:not([class]),
footer a:not([class]) {
    &:focus,
    &:hover:focus {
        color: var(--fl-linkFgColor, var(--color-white));
        outline: solid 0.125rem var(--fl-linkFgColor, var(--color-white));
    }

    &:active {
        background-color: var(--fl-linkFgColor, var(--color-indigo-200));
        box-shadow: 0 0 0 0.25rem var(--fl-linkFgColor, var(--color-indigo-200));
        color: var(--fl-bgColor, var(--color-black));
    }
}
