@import "./_fonts.css";

h1 {
    font-family: var(--family-sans-serif);
}

section {
    padding-inline: var(--common-inline-padding);
    padding-block: var(--common-block-padding);
    border-bottom: 0.2rem solid transparent;
}

section:nth-of-type(even) {
    background-color: var(--fl-bgColor, var(--color-indigo-100));
    color: var(--fl-fgColor);
}

section:nth-of-type(odd) {
    background-color: var(--fl-bgColor, var(--color-indigo-200));
    color: var(--fl-fgColor);
}

section:last-of-type {
    background-color: var(--fl-bgColor, var(--color-indigo-700));
    color: var(--fl-fgColor, white);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.banner {
    display: flex;
    align-items: center;
    min-height: 20vw;
    width: 100vw;
    border-bottom: 0.2rem solid transparent;
}

.bg-indigo-100 {
    background-color: var(--fl-bgColor, var(--color-indigo-100));
}

.bg-indigo-200 {
    background-color: var(--fl-bgColor, var(--color-indigo-200));
}

.bg-indigo-700 {
    background-color: var(--fl-bgColor, var(--color-indigo-700));
    color: var(--fl-fgColor, white);
}

.bg-indigo-800 {
    background-color: var(--fl-bgColor, var(--color-indigo-800));
    color: var(--fl-fgColor, white);
}

.bg-dark-grey {
    background-color: var(--fl-bgColor, #1E1E1E);
    color: var(--fl-fgColor, white);
}

.banner__text {
    font-family: 'Raleway';
    font-size: var(--step-0);
    line-height: var(--step-2);
    padding-inline: var(--common-inline-padding);
    padding-block: 3rem;
}

.banner__title {
    font-size: var(--step-4);
    line-height: var(--step-5);
    margin-bottom: 1.5rem;
}

.display {
    padding-inline: var(--common-inline-padding);
    padding-block: var(--common-block-padding);
    border-bottom: 0.2rem solid transparent;
}

.display__title h2{
    font-weight: var(--font-weight-bold);
    font-size: var(--step-4);
    margin-bottom: 2rem;
}

@media (width >= 24.25rem) {
    .display__items {
        margin: auto;
    }
}

@media (width >= 46.625rem) {
    .display__items {
        display: grid;
        gap: 1.875rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width >= 70.875rem) {
    .display__items {
        grid-template-columns: repeat(3, 1fr);
    }
}