@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v34-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/raleway-v34-latin-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/raleway-v34-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/raleway-v34-latin-500italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/raleway-v34-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/raleway-v34-latin-600italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v34-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/raleway-v34-latin-700italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/raleway-v34-latin-800.woff2') format('woff2');
}
  
@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/raleway-v34-latin-800italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/source-sans-3-v15-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/source-sans-3-v15-latin-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/source-sans-3-v15-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/source-sans-3-v15-latin-500italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/source-sans-3-v15-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/source-sans-3-v15-latin-600italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/source-sans-3-v15-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/source-sans-3-v15-latin-700italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Niramit';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/niramit-v10-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Niramit';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/niramit-v10-latin-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Niramit';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/niramit-v10-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Niramit';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/niramit-v10-latin-500italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Niramit';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/niramit-v10-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Niramit';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/niramit-v10-latin-600italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Niramit';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/niramit-v10-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Niramit';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/niramit-v10-latin-700italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/merriweather-v30-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/merriweather-v30-latin-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/merriweather-v30-latin-700.woff2') format('woff2');
}
    
@font-face {
    font-display: swap;
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/merriweather-v30-latin-700italic.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/Montserrat-Italic.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: italic;
	font-weight: 500;
	src: url("../fonts/Montserrat-MediumItalic.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: italic;
	font-weight: 600;
	src: url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/Montserrat-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/MontserratAlternates-Regular.woff2") format("woff2");
	unicode-range: U+0049, U+006C;
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/MontserratAlternates-Italic.woff2") format("woff2");
	unicode-range: U+0049, U+006C;
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/MontserratAlternates-Medium.woff2") format("woff2");
	unicode-range: U+0049, U+006C;
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: italic;
	font-weight: 500;
	src: url("../fonts/MontserratAlternates-MediumItalic.woff2") format("woff2");
	unicode-range: U+0049, U+006C;
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/MontserratAlternates-SemiBold.woff2") format("woff2");
	unicode-range: U+0049, U+006C;
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: italic;
	font-weight: 600;
	src: url("../fonts/MontserratAlternates-SemiBoldItalic.woff2") format("woff2");
	unicode-range: U+0049, U+006C;
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/MontserratAlternates-Bold.woff2") format("woff2");
	unicode-range: U+0049, U+006C;
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/MontserratAlternates-BoldItalic.woff2") format("woff2");
	unicode-range: U+0049, U+006C;
}
