.accordion {
    min-height: 5rem;
    padding-inline: 0.5rem;
}

.accordion summary {
    align-items: center;
    box-shadow: inset 0 0.125rem 0 0 var(--fl-linkFgColor, var(--color-indigo-700));
    color: var(--fl-linkFgColor, var(--color-indigo-700));
    cursor: pointer;
    display: flex;
    font-family: var(--family-display);
    font-size: var(--step-2);
    font-weight: var(--font-weight-semibold);
    height: 5rem;
    list-style-type: none;
    padding-inline-end: 0.625;
    position: relative;

    &::-webkit-details-marker {
        display: none;
    }

    &::after {
        background-color: var(--fl-linkFgColor, var(--color-indigo-700));
        content: "";
        display: block;
        height: 1.125rem;
        mask-image: url('data:image/svg+xml,<svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 1L9 9L1 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        mask-repeat: no-repeat;
        mask-position: center;
        position: absolute;
        right: 0;
        transition: transform 0.5s ease-in-out;
        width: 1.125rem;
    }

    &:focus {
        outline: 1px solid transparent;
    }
}

.accordion[open] summary::after {
    transform: rotate(180deg);
}

.accordion:has(summary:hover) {
    background-color: var(--fl-bgColor, var(--color-indigo-200));
    box-shadow:
        0.625rem 0 0 0 var(--fl-bgColor, var(--color-indigo-200)),
        -0.625rem 0 0 0 var(--fl-bgColor, var(--color-indigo-200));
}

.accordion:focus-within {
    border-radius: 0.1875rem;
    box-shadow: inset 0 0 0 0.125rem var(--fl-linkFgColor, var(--color-indigo-700));
}

.accordion__content {
    padding-block-end: 2.1875rem;
}

* + .accordion {
    margin-block-start: 1.25rem;
}
