.badge {
    align-items: center;
    background-color: var(--fl-fgColor, var(--color-yellow));
    block-size: 2.8125rem;
    border-bottom-left-radius: 0.1875rem;
    border-top-left-radius: 0.1875rem;
    color: var(--fl-bgColor, currentColor);
    display: flex;
    inline-size: max-content;
    padding-inline: 0.75rem 0.5rem;
    position: relative;

    &::after {
        background-color: var(--fl-fgColor, var(--color-yellow));
        block-size: 2.8125rem;
        content: "";
        display: block;
        inline-size: 1.125rem;
        inset-block-start: 0;
        inset-inline-end: -1.0625rem;
        mask-image: url("data:image/svg+xml,%3Csvg width='18' height='45' viewBox='0 0 18 45' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 0V0C1.44106 0 2.32392 0.455509 2.86929 1.22243L16.7637 20.7614C17.5039 21.8023 17.5039 23.1977 16.7637 24.2386L2.86929 43.7776C2.32392 44.5445 1.44106 45 0.5 45V45V0Z' fill='black'/%3E%3C/svg%3E%0A");
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: 1.125rem 2.8125rem;
        position: absolute;
    }
}
