.card {
    box-shadow:
        0 0.625rem 1.25rem 0 var(--shadow-light),
        inset 0 0 0 0.1875rem var(--fl-linkFgColor, transparent);
    color: var(--fl-fgColor, black);
    display: flex;
    flex-direction: column;
    inline-size: clamp(16.25rem, 23rem, 1fr);
    justify-content: flex-start;
    margin-bottom: 1rem;
    padding-block-start: 2.25rem;
    position: relative;
}

.card.strategies-and-tips {
    padding-block-start: unset;
    padding-inline-start: 0.8125rem;
}


.resources .card {
    background-color: var(--fl-bgColor, var(--color-indigo-100));
    padding-block-end: 0.5rem;
    padding-block-start: unset;
}

.card:has(a:focus) {
    outline: 0.1875rem solid var(--fl-linkFgColor, var(--color-indigo-700));
    outline-offset: 0.4375rem;
}

main section:last-of-type:not(:first-of-type) .card:has(a:focus),
main section:last-of-type:not(:first-of-type) .card:hover,
body[class*="fl-theme"]:not(.fl-theme-prefsEditor-default) .card:hover {
    outline: 0.1875rem solid var(--fl-linkFgColor, var(--color-indigo-100));
    outline-offset: 0.4375rem;
}

body:not([class*="fl-theme"]),
.fl-theme-prefsEditor-default {
    .card:hover,
    .card:has(a:focus) {
        box-shadow:
            inset 0 0 0 0.1875rem var(--fl-fgColor, transparent),
            0 0.625rem 1.25rem 0 var(--fl-fgColor, var(--shadow-dark));
    }
}

.card__image img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
    width: 100%;
}

.card__content {
    background-color: var(--fl-bgColor, white);
    border: 0.1875rem solid var(--fl-linkFgColor, transparent);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.93rem;
    padding: 1.875rem;
}

.card__title {
    color: var(--fl-linkFgColor, black);
    font-family: var(--family-sans-serif);
    font-size: var(--step-2);
    font-weight: var(--font-weight-semibold);
    margin: 0;
    text-decoration: none;
}

.card__title:focus {
    background: none;
    box-shadow: none;
    outline: none;
}

.card__title::after {
    content: "";
    display: block;
    inset: 0;
    position: absolute;
}

.card__heading-image svg {
    fill:none;
    height: 2rem;
    min-width: 2rem;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width: 2;
}

.card__body,
.card__date,
.card__event-status {
    font-family: var(--family-sans-serif);
    font-size: var(--step-0);
    font-weight: var(--font-weight-normal);
}

.card__event-status {
    align-items: center;
    display: flex;
    position: relative;
}

.card__event-status svg {
    fill: var(--fl-bgColor, var(--color-yellow));
    position: absolute;
    stroke: var(--fl-fgColor, var(--color-yellow));
    width: 12ch;
}

.card__event-status p {
    border-left: 0.05rem solid var(--fl-fgColor, var(--color-yellow));
    padding-inline: 0.5rem;
    position: relative;
}

.card svg {
    stroke: currentcolor;
}

.card *:has(> svg) {
    align-items: center;
    display: flex;
    gap: 0.75rem;
    width: 100%;
}

.fl-input-enhanced {
    .card:has(a:focus) {
        outline-width: 0.3125rem;
    }
}

@media (width >= 24.25rem) {
    .cards {
        margin-inline: auto;
    }
}

@media (width >= 46.625rem) {
    .cards {
        display: grid;
        gap: 1.875rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width >= 70.875rem) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}
