.card {
    color: var(--fl-fgColor, black);
    min-width: 20.5rem;
    margin-bottom: 1rem;
    box-shadow:
        0 0.625rem 1.25rem 0 var(--shadow-light),
        inset 0 0 0 0.1875rem var(--fl-fgColor, transparent);
    padding-top: 2.5rem;
    position: relative;
}

.card:has(a:focus) {
    border: 0.1875rem solid var(--fl-fgColor, transparent);
    box-shadow: 0 0.625rem 1.25rem 0 var(--shadow-light);
    outline: 0.1875rem solid var(--fl-fgColor, transparent);
    outline-offset: 0.1875rem;
}

.card:has(a:focus) > .card__content {
    border: unset;
    box-shadow: 0 -0.1875rem 0 var(--fl-fgColor, transparent);
}

.card:hover {
    box-shadow:
        inset 0 0 0 0.1875rem var(--fl-fgColor, transparent),    
        0 0.625rem 1.25rem 0 var(--fl-fgColor, var(--shadow-dark));
}

.card:hover.card:has(a:focus) {
    box-shadow:
        0 0.625rem 1.25rem 0 var(--fl-fgColor, var(--shadow-dark));
}

.card__image {
    min-height: 14.44rem;
    min-width: 20.5rem;
    background-color: black;
}

.card__content {
    border: 0.1875rem solid var(--fl-fgColor, transparent);
    background-color: var(--fl-bgColor, white);
    display: flex;
    flex-direction: column;
    gap: 0.93rem;
    height: 100%;
    padding: 1.875rem;
}

.card__title {
    color: var(--fl-linkFgColor, black);
    font-family: var(--family-sans-serif);
    font-weight: var(--font-weight-semibold);
    font-size: var(--step-2);
    text-decoration: none;
    margin: 0;
}

.card__title:focus {
    background: none;
    box-shadow: none;
    outline: none;
}

.card__title::after {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.card__body,
.card__date,
.card__event-status {
    font-family: var(--family-sans-serif);
    font-weight: var(--font-weight-normal);
    font-size: var(--step-0);
}

.card__event-status {
    position: relative;
    display: flex;
    align-items: center;
}

.card__event-status svg {
    position: absolute;
    width: 12ch;
    fill: var(--fl-bgColor, var(--color-yellow));
    stroke: var(--fl-fgColor, var(--color-yellow));
}

.card__event-status p {
    position: relative;
    padding-inline: 0.5rem;
    border-left: 0.05rem solid var(--fl-fgColor, var(--color-yellow));
}

@media (width >= 24.25rem) {
    .cards {
        margin-inline: auto;
    }
}

@media (width >= 46.625rem) {
    .cards {
        display: grid;
        gap: 1.875rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width >= 70.875rem) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}
