.select {
    position: relative;
    width: fit-content;
}

.select::after {
    background-color: var(--fl-fgColor, var(--color-indigo-700));
    block-size: 0.75rem;
    content: "";
    inline-size: 1.5rem;
    mask-image: url('data:image/svg+xml,<svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 1L9 9L1 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    pointer-events: none;
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
}

.select select {
    appearance: none;
    background-color: var(--fl-bgColor, var(--color-white));
    border: 0.125rem solid var(--fl-fgColor, var(--color-indigo-700));
    border-radius: 0.1875rem;
    color: var(--fl-fgColor, var(--color-indigo-700));
    font-family: inherit;
    font-size: var(--step-0);
    font-weight: var(--fl-enhance-font-weight, var(--font-weight-semibold));
    padding-block: 0.625rem;
    padding-inline: 0.75rem 3rem;
}

.select select:focus,
.select select:hover {
    box-shadow:
        0 0 0 0.0625rem var(--fl-bgColor, var(--color-white)),
        0 0 0 0.1875rem var(--fl-fgColor, var(--color-indigo-700));
    outline: none;
}

.select select:focus {
    background-color: var(--fl-bgColor, var(--color-indigo-200));
}

.fl-input-enhanced .select select {
    border-width: 0.1875rem;
}

.fl-input-enhanced .select select:focus,
.fl-input-enhanced .select select:hover {
    box-shadow:
        0 0 0 0.125rem var(--fl-bgColor, var(--color-white)),
        0 0 0 0.3rem var(--fl-fgColor, var(--color-indigo-700));
}
