.navigation {
    background-color: var(--fl-bgColor, var(--color-indigo-700));
    border-top: 0.2rem solid var(--fl-fgColor, transparent);
    color: white;
    font-family: var(--family-sans-serif);
}

.navigation__link {
    display: flex;
    justify-content: space-between;
    padding-block: 1.25rem;
    padding-inline: var(--common-inline-padding);
}

.navigation__home {
    text-decoration: none;
    color: var(--fl-linkColor, var(--color-white));
    font-family: var(--family-display);
    font-size: var(--step-0);
}

.navigation__toggle {
    display: flex;
    gap: 0.625rem;
    align-items: center;
    background-color: var(--fl-bgColor, var(--color-indigo-700));
    color: var(--fl-linkColor, var(--color-white));
    border: none;
    font-family: var(--family-sans-serif);
    font-weight: var(--font-weight-normal);
    font-size: var(--step-0);
}

.navigation__menu {
    width: 100%;
    background-color: var(--color-indigo-700);
}

.navigation__link:has([aria-expanded="true"]) + .navigation__menu {
    display: block;
}

.navigation__link:has([aria-expanded="false"]) + .navigation__menu {
    display: none;
}

.navigation__menu ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.navigation__menu li a {
    align-items: center;
    background-color: var(--fl-bgColor, var(--color-indigo-700));
    block-size: 3.75rem;
    color: var(--fl-linkColor, var(--color-white));
    display: flex;
    font-size: var(--step-0);
    font-weight: var(--font-weight-semibold);
    padding-block: 0.625rem;
    padding-inline: var(--common-inline-padding);
    text-decoration: none;

    &[aria-current="page"] {
        background-color: var(--fl-bgColor, var(--color-indigo-800));
        box-shadow: inset 0.25rem 0 0 0 var(--fg-linkColor, var(--color-indigo-100));
        color: var(--fl-linkColor, var(--color-white));
    }

    &:hover,
    &:focus {
        background: var(--fl-linkColor, var(--color-indigo-200));
        box-shadow: unset;
        color: var(--fl-bgColor, var(--color-indigo-700));
        outline: solid 0.125rem transparent;
    }

    &:active {
        background: var(--fl-linkColor, var(--color-white));
        color: var(--fl-bgColor, var(--color-indigo-800));
    }
}

@media (width >= 46.625rem) {
    .navigation {
        align-items: center;
        display: flex;
        height: 5.7rem;
        justify-content: space-between;
        padding-block: 0;
        padding-inline: var(--common-inline-padding);
    }

    .navigation__link {
        padding: unset;
    }

    .navigation__toggle {
        display: none;
    }

    .navigation__link:has([aria-expanded="false"]) + .navigation__menu {
        display: block;
        padding: unset;
        width: unset;
    }

    .navigation__menu ul {
        flex-direction: row;
    }

    .navigation li a {
        block-size: 5.5rem;
        padding-inline: 1.875rem;

        &[aria-current="page"] {
            box-shadow: inset 0 -0.25rem 0 0 var(--fg-linkColor, var(--fl-fgColor, var(--color-indigo-100)));
        }

        &:hover,
        &:focus {
            box-shadow: unset;
        }
    }
}