div:has(.project-panel) {
    background-color: var(--color-indigo-100);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: var(--common-block-padding);
    padding-inline: var(--common-inline-padding);
}

.project-panel {
    box-shadow: 0 0.625rem 1.25rem 0 #0B046C26;
    display: flex;
    flex-direction: column;
    position: relative;
}

.project-panel:has(a:focus) {
    border: 0.1875rem solid transparent;
    outline: 0.1875rem solid var(--fl-fgColor, transparent);
    outline-offset: 0.1875rem;
}

.project-panel:has(a:focus) > .project-panel__color {
    border: unset;
    border-bottom: 0.1875rem solid transparent;
}

.project-panel:has(a:focus) > .project-panel__content {
    border: unset;
}

.project-panel:hover {
    box-shadow: 0 0.625rem 1.25rem 0 var(--fl-fgColor, #0B046C73);
}

.project-panel__color {
    min-height: 2.5rem;
    border-top: 0.1875rem solid var(--fl-bgColor, transparent);
    border-left: 0.1875rem solid var(--fl-bgColor, transparent);
    border-right: 0.1875rem solid var(--fl-bgColor, transparent);
}

.project-panel__image {
    min-width: 16.25rem;
    min-height: 12.1875rem;
    max-width: 31.0625rem;
    max-height: 23.125rem;
}

.project-panel__title {
    font-weight: var(--font-weight-semibold);
    font-family: var(--family-sans-serif);
    font-size: var(--step-4);
    text-decoration: none;
    color: black;
}

.project-panel__title:focus {
    background: none;
    box-shadow: none;
    color: var(--fl-linkColor, var(--black));
    outline: none;
}

.project-panel__title::after {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.project-panel__content {
    background-color: white;
    border: 0.1875rem solid var(--fl-fgColor, transparent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.875rem;
    width: 100%;
}

@media (width >= 70.875rem) {
    .project-panel {
        flex-direction: row;
    }

    .project-panel:has(a:focus) > .project-panel__color {
        border: unset;
        border-right: 0.1875rem solid transparent;
    }

    .project-panel__color {
        min-width: 4.625rem;
        min-height: 23.125rem;
        border-top: 0.1875rem solid var(--fl-bgColor, transparent);
        border-left: 0.1875rem solid var(--fl-bgColor, transparent);
        border-right: unset;
        border-bottom: 0.1875rem solid var(--fl-bgColor, transparent);
    }
}