div:has(.projectPanel) {
    background-color: var(--color-indigo-100);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: var(--common-block-padding);
    padding-inline: var(--common-inline-padding);
}

.projectPanel {
    background-color: var(--fl-fgColor, var(--color-yellow));
    box-shadow: 0 0.625rem 1.25rem 0 #0B046C26;
    border: 0.1875rem solid var(--fl-bgColor, var(--color-indigo-100));
    display: flex;
    flex-direction: column;
    position: relative;
}

.projectPanel:has(a:focus) {
    border: 0.1875rem solid transparent;
    outline: 0.1875rem solid var(--fl-fgColor, transparent);
    outline-offset: 0.1875rem;
}

.projectPanel:hover {
    box-shadow: 0px 10px 20px 0px #0B046C73;
}

.projectPanel__color {
    min-height: 2.5rem;
    border-right: 0.125rem solid var(--fl-fgColor, var(--color-yellow));
}

.projectPanel__image {
    min-width: 16.25rem;
    min-height: 12.1875rem;
    max-width: 31.0625rem;
    max-height: 23.125rem;
}

.projectPanel__title {
    font-weight: var(--font-weight-semibold);
    font-family: var(--family-sans-serif);
    font-size: var(--step-4);
    text-decoration: none;
    color: black;
}

.projectPanel__title:focus {
    background: none;
    box-shadow: none;
    color: var(--fl-linkColor, var(--black));
    outline: none;
}

.projectPanel__title::after {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.projectPanel__content {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1.875rem;
    width: 100%;
}

@media (width >= 70.875rem) {
    .projectPanel {
        flex-direction: row;
    }

    .projectPanel__color {
        min-width: 4.625rem;
        min-height: 23.125rem;
    }
}