{% set filterableOptions = { stages: [], topics: [] } %}

{% for action in collections['actions_' + lang] %}
	{% set relatedTopicUuids = action.data.topics %}
	{% set relatedTopics = [] %}
	{% set relatedStageUuids = [] %}
	{% set relatedStages = [] %}
	{% for relatedTopicUuid in relatedTopicUuids %}
		{% set relatedTopic = collections['topics_' + lang] | find('data.uuid', relatedTopicUuid) %}
		{% set relatedTopics = relatedTopics.concat([relatedTopic]) %}
		{% set relatedStage = collections['stages_' + lang] | find('data.uuid', relatedTopic.data.stage) %}
		{% set relatedStages = relatedStages.concat([relatedStage]) %}
		{% set relatedStageUuids = relatedStageUuids.concat([relatedStage.data.uuid]) %}
	{% endfor %}
	{% set filterableOptions = filterableOptions | objectArrayPush("topics", relatedTopics) %}
	{% set filterableOptions = filterableOptions | objectArrayPush("stages", relatedStages) %}
{% endfor %}

<div id="filters" class="filters flow">
    <h3>{% __ 'filters' %}</h3>
    <div class="flow">
    {% if filterableOptions.stages | length > 0 %}
        <fieldset>
            <legend>{% include '../../../_includes/svg/stage.svg' %}{% __ 'stages' %}</legend>
            <div id="stages">
                <ul id="filter-stage" class="stages">
                    {% for stage in filterableOptions.stages | sort(attribute="data.order") %}
                        <li>
                            <input type="checkbox" id="{{ stage.data.uuid }}" name="stage" value="{{ stage.data.uuid }}" data-filter-key="stages"/>
                            <label for="{{ stage.data.uuid }}">{{ stage.data.title }}</label>
                            <ul>
                            	{% for topic in filterableOptions.topics | findAll('data.stage', stage.data.uuid) | sort(attribute="data.order") %}
                             	<li>
									<input type="checkbox" id="{{ topic.data.uuid }}" name="topic" value="{{ topic.data.uuid }}" data-filter-key="topics"/>
									<label for="{{ topic.data.uuid }}">{{ topic.data.title }}</label>
								</li>
                             	{% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </fieldset>
     {% endif %}
    </div>
</div>
