<div class="card">
    {% if cardImage %}
        <div class="card__image">
        </div>
    {% endif %}
    <div class="card__content">
        <div class="card__title">
            <h4>{{ cardTitle }}</h4>
        </div>
        {% if cardType === "event" %}
            <div class="card__event-status">
                {% include 'svg/eventTag.svg' %}
                <p>Upcoming</p>
            </div>
        {% endif %}
        {% if cardType === "event" or cardType === "news" %}
            <div class="card__date">
                <p>March 15, 2024</p>
            </div>
        {% endif %}
        {% if cardType === "resource" %}
            <div class="card__publisher">
            </div>
        {% endif %}
        <div class="card__body">
            <p>{{ cardBody }}</p>
        </div>
        {% if cardType === "resource" %}
            <div class="card__resource-type">
            </div>
        {% endif %}
        {% if cardType === "resource" or cardType === "news" %}
            <div class="card__tag">
            </div>
        {% endif %}
    </div>
</div>