{% set filterData = { stages: [], processes: [] } %}

{% set relatedStageUuids = [] %}
{% set relatedProcessUuids = action.data.processes %}

{% for relatedProcessUuid in relatedProcessUuids %}
	{% set relatedProcess = collections['processes_' + lang] | find('data.uuid', relatedProcessUuid) %}
	{% set relatedStageUuids = relatedStageUuids.concat([relatedProcess.data.stage]) %}
{% endfor %}

{% set filterData = filterData | objectArrayPush("stages", relatedStageUuids) %}
{% set filterData = filterData | objectArrayPush("processes", relatedProcessUuids) %}

<div class="card action" data-filter-stages="{{ filterData.stages | join(',') }}" data-filter-processes="{{ filterData.processes | join(',') }}">
    <div class="card__fold"></div>
    <div class="card__icon">{% include "svg/action.svg" %}</div>
    <div class="card__content">
        <h3>
            <a class="card__title" href="{{ action.url }}">
                {{ action.data.title }}
            </a>
        </h3>
    </div>
</div>
