{% set filterData = { stages: [], topics: [] } %}

{% set relatedStageUuids = [] %}
{% set relatedTopicUuids = action.data.topics %}

{% for relatedTopicUuid in relatedTopicUuids %}
	{% set relatedTopic = collections['topics_' + lang] | find('data.uuid', relatedTopicUuid) %}
	{% set relatedStageUuids = relatedStageUuids.concat([relatedTopic.data.stage]) %}
{% endfor %}

{% set filterData = filterData | objectArrayPush("stages", relatedStageUuids) %}
{% set filterData = filterData | objectArrayPush("topics", relatedTopicUuids) %}

<div class="card action" data-filter-stages="{{ filterData.stages | join(',') }}" data-filter-topics="{{ filterData.topics | join(',') }}">
    <div class="card__fold"></div>
    <div class="card__icon">{% include "svg/action.svg" %}</div>
    <div class="card__content">
        <h3>
            <a class="card__title" href="{{ action.url }}">
                {{ action.data.title }}
            </a>
        </h3>
    </div>
</div>
