<div class="card barrier bg-indigo-700">
    <div class="card__content">
        <h3>
            <a class="card__title" href="{{ barrier.url }}">
                {{ barrier.data.title }}
            </a>
        </h3>
        {% if barrier.data.problem %}
            <div class="card__heading-image">
                {% include 'svg/problem.svg' %}
                <h4>
                    {% __ 'barriers-problem' %} 
                </h4>
            </div>
            {{ barrier.data.problem | safe }}
        {% endif %}
        {% if collections["strategies-and-tips_" + lang] | find("data.barriers", barrier.data.uuid) | length > 0 %}
            <div class="card__heading-image">
                {% include 'svg/fix.svg' %}
                <h4>
                    {% __ 'barriers-fix' %} 
                </h4>
            </div>
            <ul>
                {% for strategy in collections["strategies-and-tips_" + lang] %}
                    {% if barrier.data.uuid in strategy.data.barriers %}
                        <li>{{ strategy.data.title }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
