{% set filterData = { stages: [], processes: [] } %}

{% set relatedActions = collections["actions_" + lang] | findAll('data.barriers', barrier.data.uuid) %}
{% set relatedStageUuids = [] %}
{% set relatedProcessUuids = [] %}
{% for action in relatedActions %}
	{% set relatedProcessUuids = relatedProcessUuids.concat(action.data.processes) %}
{% endfor %}
{% for relatedProcessUuid in relatedProcessUuids %}
	{% set relatedProcess = collections['processes_' + lang] | find('data.uuid', relatedProcessUuid) %}
	{% set relatedStageUuids = relatedStageUuids.concat([relatedProcess.data.stage]) %}
{% endfor %}

{% set filterData = filterData | objectArrayPush("stages", relatedStageUuids) %}
{% set filterData = filterData | objectArrayPush("processes", relatedProcessUuids) %}

<div class="card barrier" data-filter-stages="{{ filterData.stages | join(',') }}" data-filter-processes="{{ filterData.processes | join(',') }}">
    <div class="card__fold"></div>
    <div class="card__icon">{% include "svg/barrier.svg" %}</div>
    <div class="card__content">
        <h3>
            <a class="card__title" href="{{ barrier.url }}">
                {{ barrier.data.title }}
            </a>
        </h3>
    </div>
</div>
