{% set filterData = { stages: [], topics: [] } %}

{% set relatedActions = collections["actions_" + lang] | findAll('data.barriers', barrier.data.uuid) %}
{% set relatedStageUuids = [] %}
{% set relatedTopicUuids = [] %}
{% for action in relatedActions %}
	{% set relatedTopicUuids = relatedTopicUuids.concat(action.data.topics) %}
{% endfor %}
{% for relatedTopicUuid in relatedTopicUuids %}
	{% set relatedTopic = collections['topics_' + lang] | find('data.uuid', relatedTopicUuid) %}
	{% set relatedStageUuids = relatedStageUuids.concat([relatedTopic.data.stage]) %}
{% endfor %}

{% set filterData = filterData | objectArrayPush("stages", relatedStageUuids) %}
{% set filterData = filterData | objectArrayPush("topics", relatedTopicUuids) %}

<div class="card barrier" data-filter-stages="{{ filterData.stages | join(',') }}" data-filter-topics="{{ filterData.topics | join(',') }}">
    <div class="card__fold"></div>
    <div class="card__icon">{% include "svg/barrier.svg" %}</div>
    <div class="card__content">
        <h3>
            <a class="card__title" href="{{ barrier.url }}">
                {{ barrier.data.title }}
            </a>
        </h3>
    </div>
</div>
