<div class="card action bg-indigo-700">
    <div class="card__content">
        <h3>
            <a class="card__title" href="{{ action.url }}">
                {{ action.data.title }}
            </a>
        </h3>
        {% if action.data.quick %}
            <div class="card__heading-image">
                {% include 'svg/quick.svg' %}
                <h4>
                    {% __ 'actions-quick' %}
                </h4>
            </div>
            {{ action.data.quick | markdown | safe }}
        {% endif %}
        {% if action.data.longterm %}
            <div class="card__heading-image">
                {% include 'svg/longterm.svg' %}
                <h4>
                    {% __ 'actions-longterm' %}
                </h4>
            </div>
            {{ action.data.longterm | markdown | safe }}
        {% endif %}
        {% if action.data.barriers | length > 0 %}
            <div class="card__heading-image">
                {% include 'svg/barriers.svg' %}
                <h4>
                    {% __ 'actions-barriers' %}
                </h4>
            </div>

            <ul>
                {% for uuid in action.data.barriers %}
                    {% for barrier in collections['barriers_' + lang] | findAll('data.uuid', uuid) %}
                        <li>{{ barrier.data.title }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
