{%- macro checkbox(params) -%}
    <div>
        <input class="checkbox" type="checkbox" id="{{ params.id }}" name="{{ params.name }}">
        <label for="{{ params.id }}">{{ params.label }}</label>
    </div>
{% endmacro %}