<a
    href="{{ link }}"
    class="link-btn {% if isPrimary %}link-btn-primary{% else %}link-btn-secondary{% endif %}"
>
    {% __ buttonLabel %}
    {% include '../../../assets/images/chevron-right.svg' %}
</a>