<nav class="navigation">
    <div class="navigation__link">
        <a class="navigation__home" href="/">{{ "<b>Inclusive</b><br>Standards" | safe }}</a>
        {% set navItems = collections['pages_' + lang] | eleventyNavigation %}
        <button class="navigation__toggle" id="navigation-toggle" aria-expanded="false">{% __ 'menu' %} {% include 'svg/menu.svg' %}</button>
    </div>
    <div class="navigation__menu" id="navigation-menu">
        <ul>
            {% for item in navItems %}
            {% if locale == item.locale %}
            <li>
                <a href="{{ item.url }}">{{ item.key }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>