{%- macro projectPanel(params) -%}
<div class="project-panel bg-{{ params.color }}">
    {% if params.image %}
        <div class="project-panel__image">
            {{ params.image }}
        </div>
    {% endif %}
    <div class="project-panel__content flow">
        <a class="project-panel__title" href="{{ params.url }}">
            {{ params.title | safe }}
        </a>
        <div class="project-panel__body">
            <p>{{ params.body | safe }}</p>
        </div>
    </div>
</div>
{% endmacro %}