<footer role="contentinfo">
    <div class="footer__container">
        <div class="footer__title">
            <div><strong>inclusive</strong></div>
            <div>standards</div>
        </div>
        <div class="footer__content">
            <div class="footer__section">
                <hr>
                <div class="footer__social-media">
                    <nav aria-labelledby="social">
                        <h2 id="social">{% __ 'social-media' %}</h2>
                        <ul role="list">
                            <li><a href="{{ social.facebook }}" rel="external">{% include "svg/facebook.svg" %} Facebook</a></li>
                            <li><a href="{{ social.linkedin }}" rel="external">{% include "svg/linkedin.svg" %} LinkedIn</a></li>
                            <li><a href="{{ social.instagram }}" rel="external">{% include "svg/instagram.svg" %} Instagram</a></li>
                            <li><a href="{{ social.x }}" rel="external">{% include "svg/x.svg" %} X</a></li>
                            <li><a href="{{ social.youtube }}" rel="external">{% include "svg/youtube.svg" %} YouTube</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="footer__section">
                <hr>
                <div class="footer__contact-us">
                    <h2>{% __ 'contact-us' %}</h2>
                    <div class="footer__contact-us-item">
                        <div class="footer__contact-us-item-title">
                            {% __ 'contact-us-email' %}
                        </div>
                        <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                    </div>
                    <div class="footer__contact-us-item">
                        <div class="footer__contact-us-item-title">
                            {% __ 'contact-us-phone' %}
                        </div>
                        {{ contact.phone }}
                    </div>
                    <div class="footer__contact-us-item">
                        <div class="footer__contact-us-item-title">
                            {%  __ 'contact-us-address' %}
                        </div>
                        {{ contact.address | renderContent('md') | safe }}
                    </div>
                </div>
            </div>
            <div class="footer__section">
                <hr>
                <div class="footer__sponsors">
                    <a href="https://idrc.ocadu.ca" rel="external">
                        {% include "svg/IDRC.svg" %}
                        <span class="visually-hidden" lang="en-CA">Inclusive Design Research Centre</a>
                    <a>
                    <a href="https://ocadu.ca" rel="external">
                        {% include "svg/OCADU.svg" %}
                        <span class="visually-hidden" lang="en-CA">OCAD University</a>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
