<div class="bg-indigo-800">
    {% uioTemplate %}
    {% uioInit %}
    <div class="header">
        <div class="header__intro">
            <span class="lg-hidden">{% __ 'header-intro-short' | safe %}</span>
            <span class="lg-block">{% __ 'header-intro' | safe %}</span>
        </div>
        <div class="header__settings">
            <ul class="header__language" role="list">
                <li>
                    <a href="{% findTranslation collections.all, page, lang, 'en' %}" lang="en" hreflang="en"{% if lang == 'en' %} aria-current="page"{% endif %}><span class="lg-hidden">EN</span><span class="lg-inline">English</span></a>
                </li>
                <li>
                    <a href="{% findTranslation collections.all, page, lang, 'fr' %}" lang="fr" hreflang="fr"{% if lang == 'fr' %} aria-current="page"{% endif %}><span class="lg-hidden">FR</span><span class="lg-inline">Français</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>