<li>
    <ul role="list">
        <li>
            <a href="/en/" lang="en-CA" hreflang="en-CA"{% if '/en/' == page.url %} aria-current="page"{% endif %}>English</a>
        </li>
        <li>
            <a href="/fr/" lang="fr-CA" hreflang="fr-CA"{% if '/fr/' == page.url %} aria-current="page"{% endif %}>Français</a>
        </li>
    </ul>
</li>