{% uioScripts %}
<script type="text/javascript" src="/assets/scripts/app.js" defer></script>
{% if page.fileSlug == "resources" or translationKey == "barriers" %}
<script type="text/javascript" src="/assets/scripts/filter.js" defer></script>
{% endif %}
