{% uioScripts %}
<script type="text/javascript" src="/assets/scripts/app.js" defer></script>
{% if page.fileSlug == "resources" or translationKey == "barriers" %}
<script type="text/javascript" src="/assets/scripts/filter.js" defer></script>
{% endif %}
{% if translationKey == "search" %}
<script type="text/javascript" src="/assets/scripts/search.js"></script>
{% endif %}
<script type="module">
    await import('/pagefind/pagefind-highlight.js');
    new PagefindHighlight({ highlightParam: "highlight" });
</script>
