{% extends "layouts/base.njk" %}
{% from "partials/components/card.macro.njk" import card %}

{% block content %}
{{ content | safe }}
{% if collections['projects_' + lang] %}
    <section class="display">
      <h2 class="display__title">Projects</h2>
      <div class="display__items">
        {% set cardType = "project" %}
        {% for item in collections['projects_' + lang] %}
          {{ card({image: item.data.image, title: item.data.title, body: item.data.desc }) }}
        {% endfor %}
      </div>
      <div class="display__link">
      </div>
    </section>
{% endif %}
{% endblock %}