{% extends "layouts/base.njk" %}

{% block content %}
{{ content | safe }}
<div>
  <input type="checkbox" id="id" name="name">
  <label for="id">checkbox</label>
</div>
{% if collections['projects_' + lang].length > 0 %}
    <section>
      <div class="wrapper flow">
        <h2>{% __ 'projects' %}</h2>
        <div class="cards">
          {% for project in collections['projects_' + lang] %}
            {% include "partials/components/card--project.njk" %}
          {% endfor %}
        </div>
        </div>
      </div>
    </section>
{% endif %}
{% endblock %}
