<!DOCTYPE html>
<html lang="{{ lang if lang else defaultLanguage }}-CA" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  {% include "partials/global/stylesheets.njk" %}
  {% include "partials/global/scripts.njk" %}
</head>
<body>
    {% include "partials/global/header.njk" %}
    {% include "partials/components/navigation.njk" %}
    {% from "partials/components/card.macro.njk" import card %}
    {% if hasBanner %}
    <div class="banner bg-{{ bannerBgColor }}">
      <div class="banner__text">
        <div class="banner__title">
          {{ bannerTitle | safe }}
        </div>
        {{ bannerBody }}
      </div>
      {% if bannerImage %}
      <div class="banner__image">
        {{ bannerImage }}
      </div>
      {% endif %}
    </div>
    {% endif %}
    {% block content %}{% endblock %}
    {% if collections['projects_' + lang] %}
    {% set cardImage = "yes" %}
    <section class="display">
      <div class="display__title">
        <h2>Projects</h2>
      </div>
      <div class="display__items">
        {% set cardType = "project" %}
        {% for item in collections['projects_' + lang] %}
          {{ card({image: item.data.image, title: item.data.title, body: item.data.body }) }}
        {% endfor %}
      </div>
      <div class="display__link">
      </div>
    </section>
    {% endif %}
    {% if collections.events %}
    <section class="display">
      <div class="display__title">
        <h2>Events</h2>
      </div>
      <div class="display__items">
        {% set cardType = "event" %}
        {% for item in collections.events %}
          {{ card({image: item.data.image, title: item.data.title, body: item.data.body }) }}
        {% endfor %}
      </div>
      <div class="display__link">
      </div>
    </section>
    {% endif %}
    {% if collections.resources %}
    <section class="display">
      <div class="display__title">
        <h2>Resources</h2>
      </div>
      <div class="display__items">
        {% set cardType = "resource" %}
        {% for item in collections.resources %}
          {{ card({image: item.data.image, title: item.data.title, body: item.data.body }) }}
        {% endfor %}
      </div>
      <div class="display__link">
      </div>
    </section>
    {% endif %}
    {% if collections.news %}
    <section class="display">
      <div class="display__title">
        <h2>Announcements</h2>
      </div>
      <div class="display__items">
        {% set cardType = "news" %}
        {% for item in collections.news %}
          {{ card({image: item.data.image, title: item.data.title, body: item.data.body }) }}
        {% endfor %}
      </div>
      <div class="display__link">
      </div>
    </section>
    {% endif %}
    {% include "partials/global/footer.njk" %}
</body>
</html>
