<!DOCTYPE html>
<html lang="{{ lang if lang else defaultLanguage }}-CA" dir="ltr">
<head>
  {% include 'partials/global/meta.njk' %}
  <title>{{ title }}</title>
  {% include "partials/global/stylesheets.njk" %}
  {% include "partials/global/scripts.njk" %}
  {% include "svg/filters.svg" %}
</head>
<body>
  {% include "partials/global/header.njk" %}
  {% include "partials/components/navigation.njk" %}
  <main id="main" {% if page.fileSlug == "about" %}class="sectioned"{% endif %}>
    <div class="banner bg-indigo-700">
      <div class="wrapper">
        <div class="banner__content flow">
        {% block banner %}
          <h1>{{ title }}</h1>
          {% if bannerText %}
          {{ bannerText | renderContent('md') | safe }}
          {% endif %}
        {% endblock %}
        </div>
        {% if bannerImage %}
        <div class="banner__image">
          <img src="{{ bannerImage }}" alt="{{ bannerImageAlt }}" />
        </div>
        {% endif %}
      </div>
    </div>
    {% block content %}{% endblock %}
  </main>
  {% include "partials/global/footer.njk" %}
  {% uioInit lang, "rtl" %}
</body>
</html>
