{% extends "layouts/base.njk" %}
{% from "partials/components/card.macro.njk" import card %}

{% block banner %}
    <h1>{% __ 'site-title' %}</h1>
    {% if bannerText %}
    {{ bannerText | renderContent('md') | safe }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if collections['projects_' + lang].length > 0 %}
    <section>
      <div class="wrapper flow">
        <h2>{% __ 'projects' %}</h2>
        <div class="cards">
        {% for project in collections['projects_' + lang] %}
          {% include "partials/components/card--project.njk" %}
        {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}
    {% if collections['events_' + lang].length > 0 %}
    <section>
      <div class="wrapper flow">
        <h2>{% __ 'events' %}</h2>
        <div class="cards">
        {% for event in collections['events_' + lang] %}
          {% include "partials/components/card--event.njk" %}
        {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}
    {% if collections['resources_' + lang].length > 0 %}
    <section>
      <div class="wrapper flow">
        <h2>{% __ 'resources' %}</h2>
        <div class="cards">
          {% for resource in collections['resources_' + lang] %}
              {% include "partials/components/card--resource.njk" %}
          {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}
    {% if collections['announcements_' + lang].length > 0 %}
    <section>
      <div class="wrapper flow">
        <h2>{% __ 'announcements' %}</h2>
        <div class="cards">
          {% set cardType = "news" %}
          {% for item in collections['announcements_' + lang] %}
            {{ card({image: item.data.image, title: item.data.title, body: item.data.excerpt, url: item.data.permalink }) }}
          {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}
{% endblock %}
