{% extends "layouts/base.njk" %}
{% from "partials/components/card.macro.njk" import card %}

{% block content %}
{% if collections['projects_' + lang] %}
    <section>
      <div class="wrapper flow">
        <h2>{% __ 'projects' %}</h2>
        <div class="cards">
          {% set cardType = "project" %}
          {% for item in collections['projects_' + lang] %}
            {{ card({image: item.data.image, title: item.data.title, body: item.data.desc, color: item.data.projectColor, url: item.data.permalink }) }}
          {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}
    {% if collections.events %}
    <section>
      <div class="wrapper flow">
        <h2>{% __ 'events' %}</h2>
        <div class="cards">
          {% set cardType = "event" %}
          {% for item in collections.events %}
            {{ card({image: item.data.image, title: item.data.title, body: item.data.desc, url: item.data.permalink }) }}
          {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}
    {% if collections.resources %}
    <section>
      <div class="wrapper flow">
        <h2>{% __ 'resources' %}</h2>
        <div class="cards">
          {% set cardType = "resource" %}
          {% for item in collections.resources %}
            {{ card({image: item.data.image, title: item.data.title, body: item.data.desc, url: item.data.permalink }) }}
          {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}
    {% if collections.news %}
    <section>
      <div class="wrapper flow">
        <h2>{% __ 'announcements' %}</h2>
        <div class="cards">
          {% set cardType = "news" %}
          {% for item in collections.news %}
            {{ card({image: item.data.image, title: item.data.title, body: item.data.desc, url: item.data.permalink }) }}
          {% endfor %}
        </div>
      </div>
    </section>
{% endif %}
{% endblock %}
