{% extends "layouts/base.njk" %}

{% set pageType = 'process' %}

{% set bannerBackgroundColor = ( 
    'bg-guidelines-stage-1-light' if stage === '2ac90c88' 
    else ('bg-guidelines-stage-2-light' if stage === 'b394d47d' 
    else ('bg-guidelines-stage-3-light' if stage === '228cf07a'
    else ('bg-guidelines-stage-4-light' if stage === '5871d856'
    else ('bg-guidelines-stage-5-light' if stage === '8820ca59'
))))) %}

{% block banner %}
<div class="banner {{ bannerBackgroundColor }}">
    <div class="wrapper">
        <div class="banner__content flow">
        	{% set breadcrumb = collections['pages_' + lang] | find('data.translationKey', 'processes') %}
            <a href="{{ breadcrumb.url }}" >{{ breadcrumb.data.shortTitle if breadcrumb.data.shortTitle else breadcrumb.data.title }} {% include 'svg/arrowRight.svg' %}</a>
            <h1>{{ title }}</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<nav aria-labelledby="process-menu" class="flow">
    <inclusive-disclosure>
        <button aria-controls="{{ title | slugify }}-menu">
            <h2 id="process-menu">{% __ 'toc' %}</h2>
        </button>
        <div content id="{{ title | slugify }}-menu">
            <ul role="list" class="flow">
                <li class="flow" id="toc">
                        <h3>{% __ 'toc' %}</h3>
                    <ul role="list" class="flow"></ul>
                </li>
            </ul>
        </div>
    </inclusive-disclosure>
</nav>
<article class="flow">
{{ content | safe }}
{% for strategy in collections['strategies-and-tips_' + lang] %}
    {% if uuid in strategy.data.processes %}
        {% set strategyOrTip = strategy %}
        {% include "partials/components/card--strategies-and-tips.njk" %}
    {% endif %}
{% endfor %}
</article>
{% endblock %}
