{% extends "layouts/base.njk" %}

{% block content %}
    {% if collections['projects_' + lang].length > 0 %}
    <section>
        {% for project in collections['projects_' + lang] %}
            {% include "partials/components/project-panel.njk" %}
        {% endfor %}
    </section>
    {% else %}
    <section>
        <div class="wrapper">
            <p>{% __ "no-projects" %}</p>
        </div>
    </section>
    {% endif %}
{% endblock %}
