{% extends "layouts/base.njk" %}

{% block content %}
<div class="project__container">
    <div class="project__banner">
        <div class="project__banner__color bg-{{ projectColor }}"></div>
        <div class="project__banner__header">
            <a href="{% if lang === "en" %}/projects{% else %}/{{lang }}/{% __ 'projects' %}{% endif %}" >{% __ 'projects' %} {% include 'svg/arrowRight.svg' %}</a>
            <h1 class="project__banner__title">
                {{ title }}
            </h1>
        </div>
        {% if image %}
            <div class="project__image">
                {{ image }}
            </div>
        {% endif %}
    </div>
    <div class="project__content">
        <div class="project__nav">
        </div>
        <article class="flow">
        {{ content | safe }}
        </article>
    </div>
</div>
{% endblock %}