{% extends "layouts/base.njk" %}
{% from "partials/components/projectPanel.macro.njk" import projectPanel %}

{% block content %}
    {% if collections['projects_' + lang] %}
    <section>
        {% for item in collections['projects_' + lang] %}
            {{ projectPanel({image: item.data.image, title: item.data.title, body: item.data.desc, color: item.data.projectColor, url: item.data.permalink}) }}
        {% endfor %}
    </section>
    {% endif %}
{% endblock %}