{% extends "layouts/base.njk" %}

{% block content %}
<div class="project" style="--project-color: var(--fl-bgColor, var(--color-{{ color }}))">
    <div class="banner">
        <div class="flow">
            <a href="{% if lang === "en" %}/projects{% else %}/{{lang }}/{% __ 'projects' %}{% endif %}" >{% __ 'projects' %} {% include 'svg/arrowRight.svg' %}</a>
            <h1>{{ title }}</h1>
        </div>
        {% if previewImage and previewImageAlt %}
        <div class="image">
            <img src="{{ previewImage }}" alt="{{ previewImageAlt }}" />
        </div>
        {% endif %}
    </div>

    <div class="content">
        <nav aria-labelledby="project-menu" class="flow">
            <h2 id="project-menu">{% __ 'project-menu' %}</h2>
            <ul role="list" class="flow">
            </ul>
        </nav>
        <article class="flow">
        {{ content | safe }}
        </article>
    </div>
</div>
{% endblock %}
