{% extends "layouts/base.njk" %}

{% set breadcrumb = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) | first %}

{% block content %}
<div class="project" style="--project-color: var(--fl-bgColor, var(--color-{{ breadcrumb.color }}))">
    <div class="banner">

        <div class="text">
            <a href="{{ breadcrumb.url }}" >{{ breadcrumb.title }} {% include 'svg/arrowRight.svg' %}</a>
            <h1>{{ title }}</h1>
        </div>
        {% if previewImage and previewImageAlt %}
        <div class="image">
            <img src="{{ previewImage }}" alt="{{ previewImageAlt }}" />
        </div>
        {% endif %}
    </div>

    <div class="content">
        <nav aria-labelledby="project-menu" class="flow">
            <h2 id="project-menu">{% __ 'page-menu' %}</h2>
            <inclusive-disclosure>
                <button aria-controls="{{ title | slugify }}-menu">
                    <h2 id="project-menu-mobile">{% __ 'page-menu' %}</h2>
                </button>
                <div content id="{{ title | slugify }}-menu">
                    <ul role="list" class="flow">
                        <li class="flow" id="toc">
                            <h3>{% __ 'toc' %}</h3>
                            <ul role="list" class="flow"></ul>
                        </li>
                    </ul>
                </div>
            </inclusive-disclosure>
        </nav>
        <article class="flow">
        {{ content | safe }}
        </article>
    </div>
</div>
{% endblock %}
