.guidelines .banner,
.processes .banner,
.opportunities .banner {
    background-color: var(--fl-bgColor, var(--color-indigo-200));
    color: var(--fl-fgColor, var(--color-black));
}

.guidelines nav,
.guidelines article {
    box-shadow: inset 0 -0.1875rem 0 0 var(--fl-fgColor, transparent);
}

.guidelines nav {
    background-color: var(--fl-bgColor, var(--color-indigo-100));
}

.guidelines nav > h2 {
    display: none;
}

.guidelines nav inclusive-disclosure {
    padding-inline: 0;
}

.guidelines nav inclusive-disclosure > * {
    padding-inline: var(--common-inline-padding);
}

.guidelines nav inclusive-disclosure [aria-expanded] {
    box-shadow: none;
}

.guidelines nav inclusive-disclosure [aria-expanded]::after {
    right: var(--common-inline-padding);
}

@media (width >= 70.875rem) {
    .guidelines nav > h2 {
        display: block;
    }

    .guidelines nav inclusive-disclosure > * {
        padding-inline: 0;
    }

    .guidelines nav inclusive-disclosure [aria-expanded] {
        display: none;
    }

    .guidelines nav inclusive-disclosure [aria-expanded] + * {
        display: block;
    }
}

.guidelines article {
    padding-block: 2.125rem 5rem;
    padding-inline: var(--common-inline-padding);
}

.guidelines article > * {
    max-width: 41.875rem;
}

.guidelines article > h2 {
    max-width: 100%;
}

@media (width >= 70.875rem) {
    .guidelines .content {
        display: grid;
        grid-template-columns: 35% 65%;
        margin-inline: auto;
        max-width: 90rem;
        width: 100%;
    }

    .guidelines nav,
    .guidelines article {
        padding-block: 8.4375rem;
    }

    .guidelines nav {
        padding-inline: 8.4375rem 5rem;
        position: relative;

        &::after {
            background-color: var(--fl-bgColor, var(--color-indigo-100));
            content: "";
            display: block;
            height: 100%;
            margin-inline-start: -100vw;
            position: absolute;
            top: 0;
            width: 100vw;
            z-index: -1;
        }
    }

    .guidelines article {
        padding-inline: 8.4375rem;
    }
}
