.project .banner {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    min-height: 16.25rem;
    border-block: 0;
    box-shadow: 0 -1.875rem 0 0 var(--fl-fgColor, var(--project-color));
    max-width: 90rem;
    margin-inline: auto;
    margin-block-start: 1.875rem;
}

[class^="fl-theme"]:not(.fl-theme-prefsEditor-default) .project .banner {
    box-shadow:
        inset 0 0.1875rem 0 0 var(--fl-fgColor, transparent),
        inset 0 -0.1875rem 0 0 var(--fl-fgColor, transparent);
}

.project .banner a {
    align-items: center;
    display: flex;
    gap: 0.4rem;
    width: fit-content;
}

.project .banner a svg {
    stroke: currentColor;
}

.project .banner .flow {
    width: 100%;
}

.project .banner .image {
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.project nav,
.project article {
    padding-inline: var(--common-inline-padding);
    box-shadow: inset 0 -0.1875rem 0 0 var(--fl-fgColor, transparent);
}

.project nav {
    background-color: var(--fl-bgColor, var(--color-indigo-100));
    padding-block: 1.25rem 3.125rem;
}

.project article {
    padding-block: 2.125rem 5rem;
}

.project article > * {
    max-width: 41.875rem;
}

.project article > h2 {
    max-width: 100%;
}

.project .content a img {
    height: auto;
    width: 100%;
}

.project .content a[href^="https://www.canada.ca"] img
{
    max-width: 12.5rem;
}

.project .content a:has(img) {
    display: inline-block;
    margin-block: 1rem;
}

@media (width >= 70.875rem) {
    .project .banner {
        align-items: flex-start;
        box-shadow:
            -75rem 0 0 0 var(--fl-fgColor, var(--project-color)),
            inset 3.5rem 0 0 0 var(--fl-fgColor, var(--project-color)),
            inset 0 -0.1875rem 0 0 var(--fl-fgColor, transparent);
        flex-direction: row;
        height: 39.625rem;
        margin-block-start: 0;
        padding-inline: 8.25rem 0;
        padding-block: 0;
    }

    .project .banner .flow {
        margin-block-start: 5.5rem;
        width: auto;
    }

    .project .banner .image {
        aspect-ratio: 40 / 57;
        max-width: 30rem;
    }

    .project .content {
        display: grid;
        grid-template-columns: 35% 65%;
        margin-inline: auto;
        max-width: 90rem;
        width: 100%;
    }

    .project nav,
    .project article {
        padding-block: 8.4375rem;
    }

    .project nav {
        padding-inline: 8.4375rem 5rem;
        position: relative;

        &:after {
            content: "";
            display: block;
            width: 100vw;
            height: 100%;
            margin-inline-start: -100vw;
            top: 0;
            position: absolute;
            background-color: var(--fl-bgColor, var(--color-indigo-100));
            z-index: -1;
        }
    }

    .project article {
        padding-inline: 8.4375rem;
    }
}
