.project .banner {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    min-height: 16.25rem;
    background-color: var(--fl-bgColor, transparent);
    border-block: 0;
    box-shadow: 0 -1.875rem 0 0 var(--fl-fgColor, var(--banner-color));
    color: inherit;
    max-width: 90rem;
    margin-inline: auto;
    margin-block-start: 1.875rem;
}

[class^="fl-theme"]:not(.fl-theme-prefsEditor-default) .project .banner {
    box-shadow: inset 0 0.1875rem 0 0 var(--fl-fgColor, transparent);
}

.project .banner .banner__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.project .banner a {
    align-items: center;
    display: flex;
    gap: 0.4rem;
    text-wrap: nowrap;
    width: fit-content;
}

.project .banner a svg {
    stroke: currentColor;
}

.project .banner .flow {
    width: 100%;
}

.project .banner .banner__image {
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.project .banner .banner__image:empty {
    height: 0;
}

.project .banner img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.project nav,
.project article {
    box-shadow: inset 0 -0.1875rem 0 0 var(--fl-fgColor, transparent);
}

.project nav {
    background-color: var(--fl-bgColor, var(--color-indigo-100));
}

.project nav > h2 {
    display: none;
}

.project nav inclusive-disclosure {
    padding-inline: 0;
}

.project nav inclusive-disclosure > * {
    padding-inline: var(--common-inline-padding);
}

.project nav inclusive-disclosure [aria-expanded] {
    box-shadow: none;
}

.project nav inclusive-disclosure [aria-expanded]:after {
    right: var(--common-inline-padding);
}

.project .logo {
    padding-block-end: var(--common-block-padding);
    padding-inline: var(--common-inline-padding);
}

@media (width >= 70.875rem) {
    [class^="fl-theme"]:not(.fl-theme-prefsEditor-default) .project .banner {
        box-shadow:
            inset 0 0.1875rem 0 0 var(--fl-fgColor, transparent),
            inset 0 -0.1875rem 0 0 var(--fl-fgColor, transparent);
    }

    .project nav > h2 {
        display: block;
    }

    .project nav inclusive-disclosure > * {
        padding-inline: 0;
    }

    .project nav inclusive-disclosure [aria-expanded] {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    .project nav inclusive-disclosure [aria-expanded] + * {
        display: block;
    }

    .project .logo {
        padding-block: 0;
        padding-inline: 0;
    }
}

.project article {
    padding-block: 2.125rem 5rem;
    padding-inline: var(--common-inline-padding);
}

.project article > * {
    max-width: 41.875rem;
}

.project article > h2 {
    max-width: 100%;
}

.project .content a img {
    height: auto;
    width: 100%;
}

.project .content a[href^="https://www.canada.ca"] img {
    width: 12.5rem;
}

.project .content a:has(img) {
    display: inline-block;
    margin-block: 1rem;
}

@media (width >= 70.875rem) {
    .project .banner {
        display: grid;
        gap: var(--common-inline-padding);
        grid-template-columns: 35% 1fr;
        grid-auto-flow: column;
        margin-block-start: 0;
        margin-inline: auto;
        height: fit-content;
        max-width: 90rem;
        padding-inline: 0;
        padding-block: 0;
        width: 100%;
    }

    .project .banner .banner__image {
        background-color: var(--fl-fgColor, var(--project-color));
        border-inline-end: 2.25rem solid var(--fl-fgColor, var(--project-color));
        grid-column: 1;
        min-width: unset;
    }

    .project .banner .banner__image:empty {
        height: unset;
    }

    .project .banner .banner__content {
        grid-column: 2;
        height: 100%;
    }

    .project .content {
        display: grid;
        grid-template-columns: 35% 65%;
        margin-inline: auto;
        max-width: 90rem;
        width: 100%;
    }

    .project nav,
    .project article {
        padding-block: 8.4375rem;
    }

    .project nav {
        padding-inline: 8.4375rem 5rem;
        position: relative;

        &:after {
            content: "";
            display: block;
            width: 100vw;
            height: 100%;
            margin-inline-start: -100vw;
            top: 0;
            position: absolute;
            background-color: var(--fl-bgColor, var(--color-indigo-100));
            z-index: -1;
        }
    }

    .project article {
        padding-inline: 8.4375rem;
    }
}
