header {
    background-color: var(--fl-bgColor, var(--color-indigo-800));
    box-shadow: inset 0 -0.2rem 0 0 var(--fl-fgColor, transparent);
    color: var(--fl-fgColor, var(--color-white));
}

.header {
    font-family: var(--family-sans-serif);
    padding-inline: var(--common-inline-padding);
}

.header .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    max-width: 75rem;
    min-height: 3.56rem;
}

.header__settings {
    margin-inline-start: auto;
}

.header__language {
    align-items: center;
    display: flex;
}

[aria-current="page"] {
    text-decoration: none;
}

.header__language li:not(:last-child)::after {
    content: "/";
    margin-inline: 0.5rem;
}

.fl-prefsEditor-separatedPanel {
    background: inherit;
    border-block-end: none !important;
    display: block;
    min-height: 2.0625rem;
}

.fl-prefsEditor-separatedPanel .fl-panelBar.fl-panelBar-wideScreen {
    background: inherit !important;
    min-height: 2.0625rem;
    padding-inline: var(--common-inline-padding) !important;
}

.fl-prefsEditor-separatedPanel .fl-panelBar .fl-prefsEditor-buttons {
    margin-inline-end: 0 !important;
}
