footer {
    background-color: var(--color-indigo-800);
    color: white;
    padding-inline: var(--common-inline-padding);
    padding-block: var(--common-block-padding);
}

footer .footer__container h4 {
    font-size: var(--step-1);
    font-weight: var(--font-weight-bold);
    font-family: var(--family-sans-serif);
}

.footer__title {
    font-size: var(--step-1);
    font-family: 'Raleway';
    margin-block: 2rem;
}

.footer__social-media, 
.footer__contact-us {
    margin-bottom: 2rem;
}

.footer__social-media a {
    display: flex;
    text-decoration: none;
    margin-bottom: 1rem;
}

.footer__social-media svg {
    stroke: white;
    stroke-width: 0.05rem;
    width: 1.375rem;
    margin-inline-end: 1rem;
    fill: var(--fl-linkColor, white);
    stroke: var(--fl-linkColor, black);
}

.footer__contact-us-item-title {
    font-size: var(--step-0);
    font-weight: var(--font-weight-bold);
}

.footer__contact-us-item {
    font-size: var(--step-0);
    font-weight: var(--font-weight-normal);
    margin-bottom: 1rem;
}

.footer__sponsors {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block: 2rem;
}

.footer__sponsors svg {
    fill: var(--fl-linkColor, white);
}

@media (width >= 24.25rem) {
    .footer__container {
        margin: auto;
    }
}

@media (width >= 70.875rem) {
    .footer__content {
        display: grid;
        gap: 1.875rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer__section {
        width: max-content;
    }
}