backend:
  name: github
  branch: main
  repo: inclusive-design/standards.inclusivedesign.ca
  base_url: https://auth.incd.ca
  commit_messages:
    create: 'chore(cms): create "{{path}}"'
    update: 'chore(cms): update "{{path}}"'
    delete: 'chore(cms): delete "{{path}}"'
    uploadMedia: 'chore(cms): upload "{{path}}"'
    deleteMedia: 'chore(cms): delete "{{path}}"'
media_folder: src/assets/uploads
public_folder: /assets/uploads

i18n:
  locales: [en, fr]
  default_locale: en
  initial_locales: default

collections:
  - label: Pages
    label_singular: Page
    name: pages
    icon: article
    thumbnail: false
    i18n:
      structure: multiple_folders
    folder: src/collections/pages/
    extension: md
    view_filters:
      - label: Drafts
        field: draft
        pattern: true
    sortable_fields:
      fields: [title, order]
      default:
          field: order
          direction: ascending
    fields:
      - label: Title
        name: title
        widget: string
        i18n: true
      - label: Short Title
        name: shortTitle
        widget: string
        i18n: true
        required: false
      - label: Draft
        name: draft
        widget: boolean
        i18n: duplicate
        required: false
      - label: Navigation Order
        name: order
        widget: number
        i18n: duplicate
        required: false
      - label: Parent
        name: parent
        widget: relation
        i18n: duplicate
        collection: pages
        search_fields: [title]
        display_fields: [title]
        multiple: false
        required: false
      - label: Layout
        name: layout
        widget: hidden
        i18n: duplicate
        default: layouts/base
        required: true
      - label: Excerpt
        name: excerpt
        widget: text
        i18n: true
        required: false
      - label: Preview Image
        name: previewImage
        widget: image
        i18n: duplicate
        required: false
        hint: This image should be 1200 by 630 pixels and will be used as a preview image when this page is shared on social media.
      - label: Preview Image Alt Text
        name: previewImageAlt
        widget: string
        i18n: true
        required: false
      - label: Banner Title
        name: bannerTitle
        widget: text
        i18n: true
        required: false
      - label: Banner Text
        name: bannerText
        widget: text
        i18n: true
        required: false
      - label: Banner Image
        name: bannerImage
        widget: image
        i18n: duplicate
        required: false
      - label: Banner Image Alt Text
        name: bannerImageAlt
        widget: text
        i18n: true
        required: false
      - label: Body
        name: body
        widget: markdown
        i18n: true
        buttons: [bold, italic, link, heading-two, heading-three, heading-four, heading-five, heading-six, quote, bulleted-list, numbered-list]
  - label: Projects
    label_singular: Project
    name: projects
    icon: inventory
    i18n:
      structure: multiple_folders
    folder: src/collections/projects/
    extension: md
    view_filters:
      - label: Drafts
        field: draft
        pattern: true
    fields:
      - label: Title
        name: title
        widget: string
        i18n: true
      - label: Draft
        name: draft
        widget: boolean
        i18n: duplicate
        required: false
      - label: Language
        name: lang
        widget: hidden
        default: "{{locale}}"
      - label: UUID
        name: uuid
        widget: hidden
        default: "{{uuid}}"
        i18n: duplicate
      - label: Slug
        name: slug
        widget: string
        i18n: true
        required: true
        hint: Use this field to customize the URL of the project. For example, if you want to display 'Regulating the Digital Domain' at `/projects/rtdd`, enter `rtdd`.
        pattern: ['^[a-z0-9-]+$', 'Only lowercase letters, numbers and hyphens permitted']
      - label: Excerpt
        name: excerpt
        widget: text
        i18n: true
        required: false
      - label: Preview Image
        name: previewImage
        widget: image
        i18n: duplicate
        required: false
        hint: This image should be 1200 by 630 pixels and will be used as a preview image when this page is shared on social media.
      - label: Preview Image Alternative Text
        name: previewImageAlt
        widget: text
        i18n: true
        required: false
      - label: Logo
        name: logo
        widget: image
        i18n: true
        required: false
        hint: This logo will appear in the project sidebar.
      - label: Colour
        name: color
        widget: select
        options:
          - label: Red
            value: red
          - label: Orange
            value: orange
          - label: Yellow
            value: yellow
          - label: Green
            value: green
          - label: Blue
            value: blue
        i18n: duplicate
        required: true
      - label: Featured Resources
        name: featuredResources
        widget: relation
        collection: resources
        value_field: uuid
        search_fields: [title]
        display_fields: [title]
        required: false
        multiple: true
        i18n: duplicate
      - label: Body
        name: body
        widget: markdown
        i18n: true
        buttons: [bold, italic, link, heading-two, heading-three, heading-four, heading-five, heading-six, quote, bulleted-list, numbered-list]
  - label: Project Subpages
    label_singular: Project Subpage
    name: project-subpages
    icon: menu_open
    i18n:
      structure: multiple_folders
    folder: src/collections/project-subpages/
    extension: md
    view_filters:
      - label: Drafts
        field: draft
        pattern: true
    sortable_fields:
      fields: [title, order]
      default:
          field: order
          direction: ascending
    fields:
      - label: Title
        name: title
        widget: string
        i18n: true
      - label: Draft
        name: draft
        widget: boolean
        i18n: duplicate
        required: false
      - label: Navigation Order
        name: order
        widget: number
        i18n: duplicate
        required: false
      - label: Language
        name: lang
        widget: hidden
        default: "{{locale}}"
      - label: UUID
        name: uuid
        widget: hidden
        default: "{{uuid}}"
        i18n: duplicate
      - label: Slug
        name: slug
        widget: string
        i18n: true
        required: true
        hint: Use this field to customize the URL of the project subpage. For example, if you want to display 'Regulating the Digital Domain reports' at `/projects/rtdd/reports/`, enter `reports`.
        pattern: ['^[a-z0-9-]+$', 'Only lowercase letters, numbers and hyphens permitted']
      - label: Parent Project
        name: parent
        widget: relation
        collection: projects
        value_field: slug
        search_fields: [title]
        display_fields: [title]
        required: true
        i18n: true
      - label: Excerpt
        name: excerpt
        widget: text
        i18n: true
        required: false
      - label: Preview Image
        name: previewImage
        widget: image
        i18n: duplicate
        required: false
        hint: This image should be 1200 by 630 pixels and will be used as a preview image when this page is shared on social media.
      - label: Preview Image Alternative Text
        name: previewImageAlt
        widget: text
        i18n: true
        required: false
      - label: Body
        name: body
        widget: markdown
        i18n: true
        buttons: [bold, italic, link, heading-two, heading-three, heading-four, heading-five, heading-six, quote, bulleted-list, numbered-list]
  - label: Resources
    label_singular: Resource
    name: resources
    icon: inventory_2
    i18n:
      structure: multiple_folders
    folder: src/collections/resources/
    slug: '{{fields.uuid}}'
    extension: md
    view_filters:
      - label: Drafts
        field: draft
        pattern: true
    fields:
      - label: Title
        name: title
        widget: string
        i18n: true
      - label: UUID
        name: uuid
        widget: uuid
        i18n: duplicate
      - label: Draft
        name: draft
        widget: boolean
        i18n: duplicate
        required: false
      - label: Description
        name: description
        widget: text
        i18n: true
      - label: Language
        name: lang
        widget: hidden
        default: "{{locale}}"
      - label: Publication Date
        name: date
        widget: datetime
        default: "{{now}}"
        i18n: duplicate
      - label: Linking Options
        name: linking
        widget: object
        i18n: duplicate
        types:
          - label: Resource Page
            name: page
            fields:
              - label: Slug
                name: slug
                widget: string
                i18n: true
                hint: Enter a short form of the resource title to be used in the URL. Only lowercase letters, numbers and hyphens should be used, e.g. 'sample-project'. This must be unique.
                pattern: ['^[a-z0-9-]+$', 'Only lowercase letters, numbers and hyphens permitted']
          - label: External Link
            name: link
            fields:
              - label: External Resource URL
                name: link
                widget: string
                type: url
                i18n: duplicate
                hint: If you want the resource to link to an external URL instead of display a page on this website, enter a URL here.
      - label: Author
        name: author
        widget: string
        i18n: duplicate
        required: false
      - label: Publisher
        name: publisher
        widget: string
        required: false
        i18n: duplicate
      - label: Language
        name: contentLanguages
        widget: relation
        collection: _singletons
        file: languages
        default: en
        i18n: duplicate
        multiple: true
        value_field: languages.*.code
        search_fields: [languages.*.name]
        display_fields: [languages.*.name]
      - label: Type
        name: type
        widget: select
        i18n: duplicate
        options:
          - label: Blog
            value: blog
          - label: Course
            value: course
          - label: Video
            value: video
          - label: Podcast
            value: podcast
          - label: Guide or toolkit
            value: guide-or-toolkit
          - label: Document
            value: document
          - label: Legislation
            value: legislation
          - label: Standards
            value: standards
          - label: Tool
            value: tool
          - label: Other
            value: other
      - label: Related Project(s)
        name: projects
        widget: relation
        collection: projects
        value_field: uuid
        search_fields: [title]
        display_fields: [title]
        required: false
        multiple: true
        i18n: duplicate
      - label: Topic(s)
        name: topics
        widget: relation
        collection: topics
        value_field: uuid
        search_fields: [title]
        display_fields: [title]
        required: false
        multiple: true
        i18n: duplicate
      - label: Body
        name: body
        widget: markdown
        i18n: true
        buttons: [bold, italic, link, heading-two, heading-three, heading-four, heading-five, heading-six, quote, bulleted-list, numbered-list]
        required: false
  - label: Topics
    label_singular: Topic
    name: topics
    icon: label
    i18n: true
    folder: src/collections/topics
    extension: md
    fields:
      - label: Title
        name: title
        widget: string
        i18n: true
      - label: Topic ID
        name: uuid
        widget: uuid
        i18n: duplicate
  - divider: true
  - label: Stages
    label_singular: Stage
    name: stages
    icon: process_chart
    summary: "{{order}}. {{title}}"
    i18n:
      structure: multiple_folders
    folder: src/collections/stages
    slug: '{{fields.uuid}}'
    extension: md
    sortable_fields:
      fields: [title, order]
      default:
          field: order
          direction: ascending
    fields:
      - label: Title
        name: title
        widget: string
        i18n: true
      - label: UUID
        name: uuid
        widget: uuid
        i18n: duplicate
      - label: Draft
        name: draft
        widget: boolean
        i18n: duplicate
        required: false
      - label: Navigation Order
        name: order
        widget: number
        i18n: duplicate
        required: true
      - label: Body
        name: body
        widget: markdown
        i18n: true
        buttons: [bold, italic]
      - label: Processes
        name: processes
        widget: relation
        collection: processes
        value_field: uuid
        search_fields: [title]
        display_fields: [title]
        required: false
        multiple: true
        i18n: duplicate
  - label: Processes
    label_singular: Process
    name: processes
    icon: cycle
    i18n:
      structure: multiple_folders
    folder: src/collections/processes
    slug: '{{fields.uuid}}'
    extension: md
    fields:
      - label: Title
        name: title
        widget: string
        i18n: true
      - label: Short Title
        name: shortTitle
        widget: string
        i18n: true
        required: false
      - label: UUID
        name: uuid
        widget: uuid
        i18n: duplicate
      - label: Draft
        name: draft
        widget: boolean
        i18n: duplicate
        required: false
      - label: Body
        name: body
        widget: markdown
        i18n: true
        default: "## Why is this important?



          ## Approaches

          "
        buttons: [bold, italic, link, heading-two, heading-three, heading-four, heading-five, heading-six, quote, bulleted-list, numbered-list]
  - label: Opportunities
    label_singular: Opportunity
    name: opportunities
    icon: lightbulb
    i18n:
      structure: multiple_folders
    folder: src/collections/opportunities
    slug: '{{fields.uuid}}'
    extension: md
    fields:
      - label: Title
        name: title
        widget: string
        i18n: true
      - label: UUID
        name: uuid
        widget: uuid
        i18n: duplicate
      - label: Draft
        name: draft
        widget: boolean
        i18n: duplicate
        required: false
      - label: Body
        name: body
        widget: markdown
        i18n: true
        default: "## Why is this a problem?



          ## Approaches

          "
        buttons: [bold, italic, link, heading-two, heading-three, heading-four, heading-five, heading-six, quote, bulleted-list, numbered-list]
  - label: Approaches
    label_singular: Approach
    name: approaches
    icon: directions_alt
    i18n:
      structure: multiple_folders
    folder: src/collections/approaches
    slug: '{{fields.uuid}}'
    extension: md
    fields:
      - label: Title
        name: title
        widget: string
        i18n: true
      - label: UUID
        name: uuid
        widget: uuid
        i18n: duplicate
      - label: Draft
        name: draft
        widget: boolean
        i18n: duplicate
        required: false
      - label: Strategies
        name: strategies
        widget: markdown
        i18n: true
        buttons: [bold, italic, link bulleted-list, numbered-list]
        required: false
      - label: Tips
        name: tips
        widget: markdown
        i18n: true
        buttons: [bold, italic, link, bulleted-list, numbered-list]
        required: false
      - label: More Information
        name: more-information
        widget: markdown
        i18n: true
        buttons: [bold, italic, link, bulleted-list, numbered-list]
        required: false
      - label: Examples
        name: examples
        widget: markdown
        i18n: true
        buttons: [bold, italic, link, bulleted-list, numbered-list]
        required: false
      - label: Standards Development Processes
        name: processes
        widget: relation
        collection: processes
        value_field: uuid
        search_fields: [title]
        display_fields: [title]
        required: false
        multiple: true
        i18n: duplicate
      - label: Opportunities for Improvement
        name: opportunities
        widget: relation
        collection: opportunities
        value_field: uuid
        search_fields: [title]
        display_fields: [title]
        required: false
        multiple: true
        i18n: duplicate
singletons:
  - label: Contact Information
    name: contact
    file: src/_data/contact.json
    icon: map
    editor:
      preview: false
    fields:
      - label: Email
        name: email
        widget: string
        type: email
      - label: Phone
        name: phone
        widget: string
      - label: Address
        name: address
        widget: text
  - label: Languages
    name: languages
    file: src/_data/languages.json
    i18n: true
    icon: translate
    editor:
      preview: false
    fields:
      - label: Languages
        label_singular: Language
        name: languages
        widget: list
        i18n: duplicate
        fields:
        - label: Name
          name: name
          widget: string
          i18n: true
        - label: Code
          name: code
          widget: string
          i18n: duplicate
