:root {
    /** Typography **/
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;

    /* @link https://utopia.fyi/clamp/calculator?a=320,1440,22—28|32—40|40—56|48—80 */
    --step--1: 1rem;
    --step-0: 1.125rem;
    --step-1: 1.25rem;
    --step-2: clamp(1.375rem, 1.2679rem + 0.5357vw, 1.75rem);
    --step-3: clamp(2rem, 1.8571rem + 0.7143vw, 2.5rem);
    --step-4: clamp(2.5rem, 2.2143rem + 1.4286vw, 3.5rem);
    --step-5: clamp(3rem, 2.4286rem + 2.8571vw, 5rem);

    /** Colors **/
    --color-blue: hsl(194deg 60% 59% / 100%);
    --color-green: hsl(163deg 35% 49% / 100%);
    --color-yellow: hsl(42deg 92% 70% / 100%);
    --color-orange: hsl(25deg 76% 64% / 100%);
    --color-red: hsl(359deg 64% 63% / 100%);
    --color-dark-grey: hsl(0deg 0% 12% / 100%);
    --color-light-dark-grey: hsl(0deg 0% 31% / 100%);
    --color-light-grey: hsl(0deg 0% 95% / 100%);
    --shadow-light: hsl(244deg 93% 22% / 15%);
    --shadow-dark: hsl(244deg 93% 22% / 45%);
    --color-indigo-100: hsl(244deg 100% 98% / 100%);
    --color-indigo-200: hsl(244deg 93% 93% / 100%);
    --color-indigo-700: hsl(244deg 93% 22% / 100%);
    --color-indigo-800: hsl(244deg 87% 12% / 100%);
    --color-white: #fff;
    --color-black: #000;

    /** Paddings **/
    --common-inline-padding: clamp(1.875rem, 0.0536rem + 9.1071vw, 8.25rem);
    --common-block-padding: clamp(3.75rem, 3.3929rem + 1.7857vw, 5rem);
}

/* Font-family set on the body so that it will work with UIO */
:where(body) {
    /** Typography **/
    --family-sans-serif: var(--fl-font-family, "Source Sans 3", sans-serif);
    --family-display: var(--fl-font-family, "Raleway", sans-serif);
}
