/** Typography **/
$family-sans-serif: "Source Sans 3", sans-serif;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/** Colours **/

$blue: hsla(194, 60%, 59%, 1);
$green: hsla(163, 35%, 49%, 1);
$yellow: hsla(42, 92%, 70%, 1);
$orange: hsla(25, 76%, 64%, 1);
$red: hsla(359, 64%, 63%, 1);
$white: hsla(0, 0%, 100%, 1);

$indigo-100: hsla(244, 100%, 98%, 1);
$indigo-200: hsla(244, 93%, 93%, 1);
