@charset "UTF-8";

/* Abstracts */
@import url("./abstracts/_variables.css");

/* Base */
@import url("./base/_reset.css");
@import url("./base/_utils.css");
@import url("./base/_fonts.css");
@import url("./base/_base.css");
@import url("./base/_typography.css");

/* Global */
@import url("./global/_footer.css");
@import url("./global/_header.css");

/* Components */
@import url("./components/_badge.css");
@import url("./components/_card.css");
@import url("./components/_checkbox.css");
@import url("./components/_disclosure.css");
@import url("./components/_filters.css");
@import url("./components/_navigation.css");
@import url("./components/_pagination.css");
@import url("./components/_project-panel.css");
@import url("./components/_select.css");
@import url("./components/_tag.css");

/* Collections */
@import url("./collections/_projects.css");
@import url("./collections/_resources.css");
